html, body {
  height: 100%;
}

#app {
  background: rgb(86,181,133);
  background: linear-gradient(35deg, rgba(86,181,133,1) 0%, rgba(0,158,226,1) 100%);
  background-image: url("../img/back_tresk11.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

#app:before {
 content: ' ';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background: url(../img/grain.png);
}

.rs-link {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index:1;
}

.rs-link img {
  width: 70px;
  height: 70px;
}

.content{
  height: 100vh;
}
.content-page{
  overflow:auto;
  height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,1) 60%);
}

.tabla{
  height: 100vh;
}

.img-tabla{
  position: absolute;
  height: 140vh;
}

/* counter */

.counter {
  color: #333;
  text-align: center;
  position: relative;
}

.counter li {
  display: inline-block;
  font-size: 0.8em;
  list-style-type: none;
  padding: 0.4em;
  text-transform: uppercase;
}

.counter li span {
  display: block;
  font-size: 1.8rem;
}

/* home */

.natecaji-img{
height: 130vh;
width: 100%;
}

.btn-back a{
  color: white !important;
}

/* @media screens */

@media (max-width: 480px) {

}

@media (max-width: 576px) {
  .rs-link {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index:1;
  }

  .rs-link img {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

.sponzorji > img {
  max-height: 2rem;
  max-width: 9rem;
  margin: .5rem;
}

.sponzorji {
  margin-bottom: 3rem;
}
