body {
  width: 100%;
  height: 100vh;
  background: rgb(86,181,133);
  background: linear-gradient(35deg, rgba(86,181,133,1) 0%, rgba(0,158,226,1) 100%);
  background-image: url(../img/ozadje_11.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;

}

body:before {
 content: ' ';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background: url(../img/grain.png);
}

.rs-link {
  position: absolute;
  top: 2rem;
  right: 2rem;
}


.content{
  height: 100vh;
}
.content-page{
  min-height: 100vh;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,1) 60%);
}

.tabla{
  height: 100vh;
}

.img-tabla{
  top: 0;
  left: 0;
  position: absolute;
  height: 120vh;
}



.link-natecaji {
  position: absolute;
  top: 46vmin;
  left:17%;
  color: #00000000;
  background-color: rgba(255,255,255,0.2);
  width: 7.5rem;
  height: 7.55rem;
}

.link-natecaji:hover {
  color: #00000000;
}


/* counter */

.counter {
  color: #333;
  text-align: center;
  position: relative;
  top: -10px;
  right: 0px;
}

.counter li {
  display: inline-block;
  font-size: 0.8em;
  list-style-type: none;
  padding: 0.8em;
  text-transform: uppercase;
}

.counter li span {
  display: block;
  font-size: 2.5rem;
}

/* home */

.natecaji-img{
height: 130vh;
width: 100%;
}

.btn-back a{
  color: white !important;
}

/* @media screens */

@media (max-height: 480px) {

}

@media (max-width: 576px) {

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

